#music-container{
    text-align: center;
    font-size: 18px; 
}

#song-container{
    text-align: center;
    float: right;
    font-size: 18px;
    color: #15db95;   
}

.container{
    background-color: #080f5b !important;
    color: #15db95;
}

.card-body{
    background-color: #e4c580;
    color: whitesmoke;
}

#lyrics{
    font-size: 15px;
    color: whitesmoke;
        margin: 60px;
        padding: 5px;
}

#tour{
    margin: 15px;
    color: #e4c580 !important;
}


.jumbotron{
    background-color: #080f5b !important;
    color: #15db95 !important;
    margin-bottom: 0px !important;
}

.jumbotron-fluid {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.form-control{
    background-color: #080f5b !important;
    color : white !important;
}


.row {
     /* background-color:#0d19a3;  */
    background-image: url("../img/background.jpg");
}


body {
    margin : -10px !important;
}

.btn{
    background-color: #0d19a3 !important;
    color: #15db95 !important;
}

.logo{
    margin-bottom: -1%;
    margin-left: 30%;
}
h3{
    margin-left: 35%;
}
