#music-container{
    text-align: center;
    font-size: 18px; 
}

#song-container{
    text-align: center;
    float: right;
    font-size: 18px;
    color: #15db95;   
}

.container{
    background-color: #080f5b !important;
    color: #15db95;
}

.card-body{
   color: whitesmoke;
   background-color: #0d19a3;
}


#lyrics{
    font-size: 15px;
    color: whitesmoke;
        margin: 60px;
        padding: 5px;
}

#tour{
    margin: 15px;
    color: #e4c580 !important;
}


.jumbotron{
    background-color: #080f5b !important;
    color: #15db95 !important;
    margin-bottom: 0px !important;
}

.jumbotron-fluid {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.form-control{
    background-color: #080f5b !important;
    color : white !important;
}


.row {
     /* background-color:#0d19a3;  */
    background-image: url("../img/background.jpg");
}


body {
    margin : -10px !important;

}

.btn{
    background-color: #0d19a3 !important;
    color: #15db95 !important;
}

.logo{
    margin-bottom: -1%;
    margin-left: 30%;
}
h3{
    margin-left: 35%;
    font-family: 'Ovo', serif;
    letter-spacing: 1px;
}

h5, p {
    font-family: 'Muli', sans-serif;
}

.btn btn-primary {
    font-family: 'Muli', sans-serif;
}

audio {
    width:120px;
    
  }
 /* h5 {
  font-size: 0.8rem;
 } */ 
/* Need to change to specific id */


 #artist-pic {
   height:300px;
   width:300px;
 }

 .imgcontainer {
    text-align: center; 
    width:120px;
  } 
  #videos {
    border: 1px solid black;
  }

  
  .hide{
      display: none;
  }